body {
  background-image: url("../assets/popup/background.png");
  background-position: center;
  background-size: cover;
}

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

.pop {
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(80px);
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 999;
}

.body-password {
  background-color: white;
  border-radius: 40px;
}

.card {
  background-color: white;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 230px;
  margin-bottom: 160px;
  /* width: 730px; */
  width: 630px;
  height: 500px;
  animation-name: fadeIn;
  animation-duration: 2s;
  position: relative;
}

.key {
  width: 414px;
  position: absolute;
  bottom: 310px;
}

.card-top {
  overflow: hidden;
  width: 100%;
}

.bg-card-top {
  width: 630px;
}

.card-bottom {
  margin-top: 15px;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-bottom h3 {
  font-size: 35px;
  font-weight: 500;
  color: #002244;
  margin-bottom: 10px;
}

.card-bottom h5 {
  font-size: 13px;
  font-weight: 400;
  color: #57595c;
  text-align: center;
  margin-bottom: 38px;
}

.card-bottom input {
  width: 310px;
  height: 42px;
  background-color: #f2f5f7;
  border: none;
  border-radius: 40px;
  text-align: center;
  font-size: 13px;
  color: #818487;
}

.card-bottom button {
  width: 186px;
  height: 44px;
  background-color: #2a5580;
  font-size: 15px;
  color: white;
  border-radius: 40px;
  border: none;
  margin-top: 20px;
  margin-bottom: 25px;
}

.hide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease;
}

.submit-button:hover {
  cursor: pointer;
  background-color: #042a4f;
}

.submit-button:active {
  animation: clickEffect 0.4s ease;
}

@keyframes clickEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

/* CSS */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  height: 345px;
  width: 1040px;
  background-color: white;
  border-radius: 40px;
  text-align: center;
  margin-top: 50px;
  position: relative;
  z-index: 1;
}

.header-dashed-star-1,
.header-solid-star-1,
.header-dashed-star-2,
.header-solid-star-2 {
  position: absolute;
}

.header-dashed-star-1 {
  top: 15px;
  left: 300px;
}

.header-solid-star-1 {
  bottom: 30px;
  left: 200px;
}

.header-dashed-star-2 {
  bottom: 85px;
  right: 210px;
}

.header-solid-star-2 {
  right: 60px;
  top: 60px;
}

/* CSS */
.Group1 {
  width: 100%;
}

.Ellipse13 {
  width: 963px;
  height: 286px;
  left: 20px;
  top: 83.06px;
  position: absolute;
  transform: rotate(-6.74deg);
  transform-origin: 0 0;
  border-radius: 50%;
  border: 2.5px #dfe5ec dashed;
}

.Ellipse12 {
  width: 963px;
  height: 286px;
  left: 33.46px;
  top: 25.54px;
  position: absolute;
  border-radius: 50%;
  border: 1px #2a5580 solid;
}

.bg-header {
  position: absolute;
}

.bg-header img {
  width: 60%;
}

.header h1 {
  font-size: 56px;
  font-weight: 700;
  color: #003366;
  margin-top: 50px;
}

.header h3 {
  font-size: 50px;
  font-weight: 300;
  color: #003366;
}

.tag {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-size: 16px;
  font-weight: 300;
}

.tag span {
  font-size: 20px;
  font-weight: 300;
  color: #6ad3d9;
  font-weight: 300;
}

.basic,
.wow,
.sales,
.performance,
.total {
  width: 1040px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: white;
  border-radius: 40px;
  margin-top: 40px;
}

.total {
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
}

hr {
  border: 1px solid #ededed;
}

.basic {
  position: relative;
}

.ornament1 {
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.ornament2 {
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 40px;
}

.ornament3 {
  position: absolute;
  right: 30px;
  top: 0;
}

.section-image {
  width: 56px;
  margin: 56px 0 24px 0;
}

.content {
  width: 730px;
  padding: 0 155px;
}

.title {
  font-size: 20px;
  font-weight: 400;
  color: #003366;
}

.category {
  font-size: 14px;
  font-weight: 400;
  color: #557799;
  margin: 32px 0 20px 0;
  letter-spacing: 4px;
}

.head {
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  font-size: 12px;
  color: #818487;
  font-weight: 400;
}

.top-line {
  margin-top: 24px;
}

.basic .body,
.wow .body {
  margin: 20px 25px 20px 10px;
  display: flex;
  justify-content: space-between;
}

.container-row {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 14px;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-row h5 {
  font-size: 18px;
  color: #343537;
  font-weight: 400;
}

.basic-input,
.wow-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.basic input,
.wow input {
  width: 56px;
  height: 38px;
  border-radius: 40px;
  background-color: #f2f5f7;
  border: 1px #9a9c9f solid;
  text-align: center;
  color: #343537;
  font-size: 14px;
  font-weight: 300;
  margin-left: 60px;
}

.basic select {
  width: 120px;
  height: 40px;
  margin-left: 22px;
  border-radius: 20px;
  padding-left: 8px;
  background-color: #f2f5f7;
  color: #343537;
  font-weight: 300;
  font-size: 16px;
}

#performance {
  width: 56px;
  height: 38px;
  border-radius: 40px;
  background-color: #f2f5f7;
  border: 1px #9a9c9f solid;
  text-align: center;
  color: #343537;
  font-size: 14px;
  font-weight: 300;
}

.total-line {
  margin: 20px 25px 15px 25px;
  border: 1px dashed #ededed;
}

.basic-total {
  display: flex;
  justify-content: space-between;
  margin: 0 25px 32px 11px;
}

.basic-total .row p {
  font-size: 14px;
  color: #818487;
  font-weight: 400;
}

.basic-total .row {
  text-align: row;
  font-size: 18px;
}

.basic-total .row .commission {
  font-size: 18px;
  color: #343537;
  font-weight: 600;
}

.basic-total .row .unit {
  font-size: 18px;
  color: #343537;
  font-weight: 400;
}

.monthly-commission {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  margin: 32px 25px 56px 25px;
}

.monthly-commission svg, .cash-commission svg {
  width: 20px;
  margin-right: 10px;
}

.monthly-commission .desc, .cash-commission .desc {
  display: flex;
}

.cash-commission {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  margin: 0 25px 56px 25px;
}

.sub-2 {
  text-align: left;
}

.sub-1 h5 {
  font-size: 16px;
  font-weight: 400;
  color: #2a5580;
}

.sub-1,
.sub-2 p,
h3 {
  font-size: 14px;
  font-weight: 400;
  color: #818487;
}

.sub-1 p,
.sub-2 p,
.sub-1 svg {
  margin-top: 10px;
}

.sub-2 span {
  font-size: 22px;
  font-weight: 600;
  color: #343537;
}

/* WOW COMMISSION */
.wow {
  height: 584px;
  position: relative;
}

.wow .ornament1 {
  position: absolute;
  top: 0;
  left: 10px;
}

.wow .ornament2 {
  position: absolute;
  left: 93.5%;
  top: 30%;
}

.wow-commission {
  margin: 0 40px 56px 10px;
}

.wow-commission .row h4 {
  font-size: 18px;
  font-weight: 400;
  color: #343537;
}

.wow-commission .row p {
  font-size: 14px;
  font-weight: 400;
  color: #818487;
}

.wow-commission .row h3 {
  font-size: 16px;
  font-weight: 400;
  color: #2a5580;
}

.wow-commission .row h5 {
  font-size: 22px;
  font-weight: 600;
  color: #343537;
}

.info {
  font-size: 14px;
  font-weight: 400px;
  color: #686b6f;
  margin-top: 5px;
}

.sales {
  position: relative;
  overflow: hidden;
}

.sales .total-point {
  display: flex;
  margin: 24px 25px;
  justify-content: space-between;
}

.sales .total-point p {
  color: #818487;
  font-size: 14px;
  font-weight: 400;
}

.sales .total-point h5 {
  color: #343537;
  font-size: 18px;
  font-weight: 400;
}

.sales-commission {
  display: flex;
  justify-content: space-between;
  margin: 0 25px 14px 25px;
}

.sales-commission h5 {
  color: #2a5580;
  font-size: 18px;
  font-weight: 400;
}

.sales-commission h3 {
  color: #343537;
  font-size: 22px;
  font-weight: 600;
}

.sales .desc {
  display: flex;
  justify-content: center;
}
.sales .desc-content {
  margin: 14px 25px 40px 25px;
  display: flex;
  align-items: center;
  width: 90%;
}

.sales .desc svg {
  width: 20px;
  margin-right: 15px;
}

.sales .desc p {
  color: #818487;
  font-weight: 300;
  font-size: 12px;
}

.sales-puddle-img,
.sales-circle-img,
.sales-dashed-img {
  position: absolute;
}

.sales-puddle-img {
  top: 0;
  left: 0;
  width: 150px;
}

.sales-circle-img {
  top: 0;
  right: 0;
  width: 100px;
}

.sales-dashed-img {
  top: 0;
  right: 0;
  width: 140px;
}

.performance {
  position: relative;
  overflow: hidden;
}

.performance-product {
  display: flex;
  justify-content: space-between;
  padding: 20px 25px;
  align-items: center;
  text-align: center;
}

.performance-product h5 {
  font-size: 14px;
  font-weight: 400;
  color: #818487;
}

.performance-product h4 {
  font-size: 18px;
  font-weight: 400;
  color: #343537;
}

.info-logo {
  width: 16px;
}

.performance .desc {
  display: flex;
  gap: 10px;
  margin: 0 25px;
}

.performance .desc p {
  font-size: 12px;
  font-weight: 300;
  color: #818487;
}

.performance-commission {
  display: flex;
  justify-content: space-between;
  margin: 0 25px 40px 25px;
}

.performance-commission h5 {
  font-size: 18px;
  font-weight: 400;
  color: #2a5580;
}

.performance-commission h3 {
  font-size: 22px;
  font-weight: 600;
  color: #343537;
}

.performance-puddle-img,
.performance-dashed-img,
.performance-circle-img {
  position: absolute;
}

.performance-circle-img {
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.performance-dashed-img {
  top: 0;
  left: 0;
}

.performance-puddle-img {
  top: 0;
  right: 0;
  width: 150px;
}

.total .detail {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  margin: 0 25px;
}

.total .row p {
  font-size: 14px;
  font-weight: 400;
  color: #818487;
}

.total .desc {
  display: flex;
  gap: 10px;
  margin: 0 25px;
}

.total .desc p {
  margin: 40px 0;
  font-size: 12px;
  font-weight: 300;
  color: #818487;
}

.total-commission {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  border: #003366 solid 1px;
  background-color: #f2f5f7;
  height: 99px;
  border-radius: 16px;
}

.total-commission h5 {
  font-size: 18px;
  font-weight: 400;
  color: #2a5580;
}

.total-commission h3 {
  font-size: 22px;
  font-weight: 600;
  color: #343537;
}

.total-commission .sub {
  display: flex;
  flex-direction: column;
  text-align: end;
}

.total-dashed-img,
.total-solid-img,
.total-circle-img {
  position: absolute;
}

.total-dashed-img {
  top: 30px;
  left: 30px;
}

.total-solid-img {
  top: 110px;
  right: 30px;
}

.total-circle-img {
  bottom: 0;
  left: 0;
  width: 100px;
}

@media screen and (max-width: 1200px) {
  .header,
  .basic,
  .wow,
  .sales,
  .performance,
  .total {
    width: 900px;
  }

  .Ellipse13,
  .Ellipse12 {
    width: 823px;
  }

  .header h1 {
    font-size: 50px;
  }

  .header h3 {
    font-size: 44px;
  }

  .header-dashed-star-1 {
    top: 25px;
    left: 220px;
  }

  .header-solid-star-1 {
    bottom: 40px;
    left: 150px;
  }

  .header-dashed-star-2 {
    bottom: 80px;
    right: 170px;
  }

  .header-solid-star-2 {
    right: 70px;
    top: 60px;
  }

  .wow {
    overflow: hidden;
  }
}

@media screen and (max-width: 1200px) {
  .header,
  .basic,
  .wow,
  .sales,
  .performance,
  .total {
    width: 700px;
  }

  .Ellipse13,
  .Ellipse12 {
    width: 623px;
  }

  .header h1 {
    font-size: 45px;
  }

  .header h3 {
    font-size: 39px;
  }

  .content {
    width: 530px;
  }
}

@media screen and (max-width: 500px) {
  /* body {
    width: max-content;
  } */

  .container {
    overflow-x: hidden;
    padding-left: 5px;
  }

  .header,
  .basic,
  .wow,
  .sales,
  .performance,
  .total {
    width: 350px;
    border-radius: 16px;
  }

  .header {
    height: 180px;
    margin-top: 25px;
  }

  .Ellipse13,
  .Ellipse12 {
    width: 310px;
    height: 125px;
    left: 18px;
    top: 33px;
  }

  .Ellipse13 {
    width: 320px;
    top: 55px;
    left: 5px;
    transform: rotate(-9.74deg);
  }

  .header h1 {
    font-size: 22px;
  }

  .header h3 {
    font-size: 18px;
  }
  .tag {
    gap: 10px;
    margin-top: 0px;
  }

  .tag p {
    font-size: 10px;
  }

  .content {
    width: 330px;
  }

  .header-dashed-star-1 {
    top: 25px;
    left: 50px;
    width: 20px;
  }

  .header-solid-star-1 {
    bottom: 30px;
    left: 50px;
    width: 20px;
  }

  .header-dashed-star-2 {
    bottom: 50px;
    right: 50px;
    width: 10px;
  }

  .header-solid-star-2 {
    right: 50px;
    top: 20px;
    width: 10px;
  }

  /* .section-image {
    width: 50px;
  } */

  .category {
    padding: 0 20px;
  }

  .ornament1 {
    width: 100px;
    border-top-left-radius: 16px;
  }

  .ornament2 {
    width: 40px;
  }

  .ornament3 {
    display: none;
  }

  .wow .ornament1 {
    display: none;
  }

  .wow .ornament2 {
    left: 92.5%;
    top: -52px;
    transform: rotate(-70deg);
  }

  .sales-puddle-img {
    width: 100px;
  }

  .sales-circle-img {
    top: unset;
    bottom: -60px;
    right: 0;
    transform: rotate(75deg);
  }

  .sales-dashed-img {
    display: none;
  }

  .total-solid-img {
    top: 60px;
    right: 30px;
  }

  .total-circle-img {
    width: 70px;
    z-index: -2;
  }

  .performance-puddle-img {
    top: unset;
    bottom: -30px;
    right: -70px;
    transform: rotate(60deg);
  }

  .title {
    font-size: 18px;
    font-weight: 400;
    color: #003366;
  }

  .monthly-commission {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
  }

  .cash-commission{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
  }

  .performance-commission {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .sales .body {
    display: flex;
    flex-direction: column-reverse;
  }

  .sales-commission {
    flex-direction: column;

    align-items: center;
  }

  .sub-1,
  .sub-2 {
    text-align: center;
  }

  .total .row p {
    font-size: 12px;
  }

  .total-commission {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .total-commission .sub {
    text-align: center;
  }

  .wow-commission .row:last-child {
    flex-direction: column;
  }

  .total-dashed-img {
    width: 40px;
  }

  .total-solid-img {
    top: 0;
    right: 0;
    margin-top: -10px;
    margin-right: -10px;
    transform: rotate(25deg);
  }

  .total .desc svg {
    width: 40px !important;
  }

  .detail .sub-1 {
    text-align: start;
  }

  .desc-content svg {
    width: 40px !important;
  }

  .card {
    border-radius: 18px;
    margin-top: 150px;
    margin-bottom: 160px;
    width: 290px;
    height: 280px;
    animation-name: fadeIn;
    animation-duration: 1.5s;
    position: relative;
  }

  .key {
    width: 200px;
    position: absolute;
    bottom: 210px;
  }

  .card-top {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .pop {
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(0);
    backdrop-filter: brightness(30%);
    -webkit-backdrop-filter: brightness(30%);
    width: 100%;
    overflow-x: hidden;
  }

  .bg-card-top {
    width: 295px;
  }

  .card-bottom {
    margin-top: 15px;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-bottom h3 {
    font-size: 20px;
    font-weight: 500;
    color: #002244;
    margin-bottom: 10px;
  }

  .card-bottom h5 {
    font-size: 11px;
    font-weight: 400;
    color: #57595c;
    text-align: center;
    margin-bottom: 15px;
  }

  .card-bottom input {
    width: 150px;
    height: 25px;
    background-color: #f2f5f7;
    border: none;
    border-radius: 40px;
    text-align: center;
    font-size: 11px;
    color: #818487;
  }

  .card-bottom button {
    width: 86px;
    height: 20px;
    background-color: #2a5580;
    font-size: 9px;
    color: white;
    border-radius: 40px;
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
