body {
  background-image: url('../assets/popup/background.jpg');
  background-position: center;
  background-size: cover;
  height: 4000px;
}

* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

.pop {
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(80px);
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 999;
}

.body-password {
  background-color: white;
  border-radius: 40px;
}

.card {
  background-color: white;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 230px;
  margin-bottom: 160px;
  width: 730px;

  animation-name: fadeIn;
  animation-duration: 2s; /* Atur durasi animasi */
}

.key {
  width: 514px;
  position: absolute;
  top: 0;
}

/* .card-top {
  background-image: url('../assets/Ornament 150.png');
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
} */

.card-top {
  width: 100%;
}

.bg-card-top {
  width: 730px;
}

.card-bottom {
  margin-top: 30px;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-bottom h3 {
  font-size: 40px;
  font-weight: 500;
  color: #002244;
  margin-bottom: 20px;
}

.card-bottom h5 {
  font-size: 18px;
  font-weight: 400;
  color: #57595c;
  text-align: center;
  margin-bottom: 48px;
}

.card-bottom input {
  width: 350px;
  height: 52px;
  background-color: #f2f5f7;
  border: none;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: #818487;
}

.card-bottom button {
  width: 186px;
  height: 44px;
  background-color: #2a5580;
  font-size: 15px;
  color: white;
  border-radius: 40px;
  border: none;
  margin-top: 48px;
  margin-bottom: 25px;
}

.hide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease;
}

.submit-button:hover {
  cursor: pointer;
  background-color: #042a4f;
}

.submit-button:active {
  animation: clickEffect 0.4s ease;
}

@keyframes clickEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

/* CSS */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  height: 345px;
  width: 1040px;
  background-color: white;
  border-radius: 40px;
  text-align: center;
  margin-top: 50px;
  position: relative;
  z-index: 1;
}

/* CSS */
.Group1 {
  width: 100%;
}

.Ellipse13 {
  width: 963px;
  height: 286px;
  left: 20px;
  top: 83.06px;
  position: absolute;
  transform: rotate(-6.74deg);
  transform-origin: 0 0;
  border-radius: 50%;
  border: 1px #dfe5ec dotted;
}

.Ellipse12 {
  width: 963px;
  height: 286px;
  left: 33.46px;
  top: 25.54px;
  position: absolute;
  border-radius: 50%;
  border: 1px #2a5580 solid;
}

.bg-header {
  position: absolute;
}

.bg-header img {
  width: 60%;
}

.header h1 {
  font-size: 56px;
  font-weight: 700;
  color: #003366;
  margin-top: 50px;
}

.header h3 {
  font-size: 50px;
  font-weight: 300;
  color: #003366;
}

.tag {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-size: 16px;
  font-weight: 300;
}

.tag span {
  font-size: 20px;
  font-weight: 300;
  color: #6ad3d9;
  font-weight: 300;
}

.basic,
.wow,
.sales,
.performance,
.total {
  width: 1040px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: white;
  border-radius: 40px;
  margin-top: 40px;
}

.basic-image,
.wow-image,
.sales-image,
.performance-image,
.total-image {
  width: 56px;
  margin-top: 56px;
  margin-bottom: 24px;
}

.water {
  width: 70%;
  padding-top: 24px;
}

.air {
  width: 70%;
  /* padding-top: 24px; */
}

.basic-title,
.wow-title,
.sales-title,
.performance-title,
.total-title {
  font-size: 20px;
  font-weight: 400;
  color: #003366;
}

.category {
  font-size: 14px;
  font-weight: 400;
  color: #557799;
  margin-top: 32px;
  margin-bottom: 32px;
  letter-spacing: 4px;
}

.head {
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  font-size: 12px;
  color: #818487;
  font-weight: 400;
}

.basic .body,
.wow .body {
  margin: 20px 25px 20px 10px;
  display: flex;
  justify-content: space-between;
}

.water .basic-product {
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin-top: 12px;
  padding-left: 14px;
}

.basic-product h5,
.wow-product h5 {
  font-size: 18px;
  color: #343537;
  font-weight: 400;
}

.basic-input,
.wow-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.basic input,
.wow input {
  width: 56px;
  height: 38px;
  border-radius: 40px;
  background-color: #f2f5f7;
  border: 1px #9a9c9f solid;
  text-align: center;
  color: #343537;
  font-size: 14px;
  font-weight: 300;
  margin-left: 60px;
}

.total-line {
  margin: 20px 25px;
}

.basic-total {
  display: flex;
  justify-content: space-between;
  margin: 0 25px 32px 25px;
}

.basic-total .left p {
  font-size: 14px;
  color: #818487;
  font-weight: 400;
}

.basic-total .right {
  text-align: right;
  font-size: 18px;
}

.basic-total .right .commission {
  font-size: 18px;
  color: #343537;
  font-weight: 600;
}

.basic-total .right .unit {
  font-size: 18px;
  color: #343537;
  font-weight: 400;
}

/* .monthly-commission .sub-1, .sub-2{
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.air .basic-product,
.wow-product {
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin-top: 10px;
  padding-left: 14px;
}

.monthly-commission {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  margin: 32px 25px 56px 25px;
}

.sub-2 {
  text-align: left;
}

.sub-1 h5 {
  font-size: 16px;
  font-weight: 400;
  color: #2a5580;
}

.sub-1,
.sub-2 p,
h3 {
  font-size: 14px;
  font-weight: 400;
  color: #818487;
}

.sub-2 span {
  font-size: 22px;
  font-weight: 600;
  color: #343537;
}

.wow-commission {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  margin: 32px 25px 56px 25px;
}

.wow-commission .sub-2 {
  text-align: right;
}

.wow-commission .sub-1 h5 {
  font-size: 14px;
  font-weight: 400;
  color: #818487;
}

.wow-commission .sub-1 p {
  font-size: 16px;
  font-weight: 400;
  color: #2a5580;
}

.wow-commission .sub-2 h5 {
  font-size: 18px;
  font-weight: 400;
  color: #343537;
}

.wow-commission .sub-2 h3 {
  font-size: 22px;
  font-weight: 600;
  color: #343537;
}

.info {
  font-size: 14px;
  font-weight: 400px;
  color: #686b6f;
  margin-top: 5px;
}

.sales .total-point {
  display: flex;
  margin: 24px 25px;
  justify-content: space-between;
}

.sales .total-point p {
  color: #818487;
  font-size: 14px;
  font-weight: 400;
}

.sales .total-point h5 {
  color: #343537;
  font-size: 18px;
  font-weight: 400;
}

.sales-commission {
  display: flex;
  justify-content: space-between;
  margin: 0 25px 14px 25px;
}

.sales-commission h5 {
  color: #2a5580;
  font-size: 18px;
  font-weight: 400;
}

.sales-commission h3 {
  color: #343537;
  font-size: 22px;
  font-weight: 600;
}

.sales .desc {
  display: flex;
  justify-content: center;
}
.sales .desc-content {
  margin: 14px 25px 40px 25px;
  display: flex;
  align-items: center;
  width: 90%;
}

.sales .desc svg {
  width: 20px;
  margin-right: 15px;
}

.sales .desc p {
  color: #818487;
  font-weight: 300;
  font-size: 12px;
}

.performance-product {
  display: flex;
  justify-content: space-between;
  padding: 20px 25px;
  align-items: center;
  text-align: center;
}

.performance-product h5 {
  font-size: 14px;
  font-weight: 400;
  color: #818487;
}

.performance-product h4 {
  font-size: 18px;
  font-weight: 400;
  color: #343537;
}

.info-logo {
  width: 16px;
}

.performance .desc {
  display: flex;
  gap: 10px;
  margin: 0 25px;
}

.performance .desc p {
  font-size: 12px;
  font-weight: 300;
  color: #818487;
}

.performance-commission {
  display: flex;
  justify-content: space-between;
  margin: 0 25px 40px 25px;
}

.performance-commission h5 {
  font-size: 18px;
  font-weight: 400;
  color: #2a5580;
}

.performance-commission h3 {
  font-size: 22px;
  font-weight: 600;
  color: #343537;
}

.total .detail {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  margin: 0 25px;
}

.total .detail .sub-2{
  text-align: right;
}

.detail .sub-1,
.detail .sub-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.detail .sub-1 p {
  font-size: 14px;
  font-weight: 400;
  color: #818487;
}

.detail .sub-2 p {
  font-size: 18px;
  font-weight: 400;
  color: #343537;
}

.total .desc {
  display: flex;
  gap: 10px;
  margin: 0 25px;
}

.total .desc p {
  margin: 40px 0;
  font-size: 12px;
  font-weight: 300;
  color: #818487;
}

.total-commission {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  border: #003366 solid 1px;
  background-color: #f2f5f7;
  height: 99px;
  border-radius: 16px;
}

.total-commission h5 {
  font-size: 18px;
  font-weight: 400;
  color: #2a5580;
}

.total-commission h3 {
  font-size: 22px;
  font-weight: 600;
  color: #343537;
}

.total-commission .sub {
  display: flex;
  flex-direction: column;
  text-align: end;
}