@media screen and (max-width: 550px) {
  .pop-up {
    width: 380px;
    height: 620px;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .blur-content.form {
    width: 100%;
    height: 770rem;
    position: absolute;
    z-index: 97;
    backdrop-filter: blur(80px);
    -webkit-backdrop-filter: blur(80px);
  }

  .bg-pop-up.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    position: absolute;
    z-index: 99;
  }

  .pop-up-form {
    top: 0px;
    width: 25rem !important;
    height: 105rem !important;
    /* background-color: #555; */
    overflow-y: unset; /* Add this line */
    overflow-x: unset;
    border-radius: 24px;
  }

  .form-ornament {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .pop-up-form .ornament2 {
    position: relative;
    top: 170px !important;
    right: -100px !important;
    z-index: 999;
    width: 10rem !important;
  }

  .pop-up-form .ornament1 {
    width: 4.5rem;
    left: 30px;
    top: 190px;
  }

  .form-ornament .head-bg {
    position: relative;
    top: 0px;
    width: 25rem !important;
    border-top-right-radius: 24px;
  }

  .form-head {
    text-align: center;
    width: 87%;
    margin-top: -120px;
    margin-bottom: 110px;
    z-index: 99;
  }

  .form-head img {
    position: absolute;
    left: 100px;
  }

  .form-head h3 {
    font-family: var(--m-alertnates);
    font-weight: var(--reguler);
    font-size: 16px;
    color: #57595c;
  }

  .form-head span {
    font-family: var(--m-alertnates);
    font-weight: var(--bold);
    font-size: 16px;
    color: var(--blue);
  }

  .form-body {
    width: 87%;
    /* position: absolute; */
    z-index: 99;
  }

  .form-body .top {
    flex-direction: column;
  }

  .form-body input {
    display: flex;
    width: 94% !important;
  }

  .form-body label {
    font-size: 14px;
    font-weight: var(--reguler);
    color: var(--light-font);
  }

  .form-body .top {
    display: flex;
  }

  .form-body .top-left {
    width: 100% !important;
  }

  .form-body .top-right {
    width: 100% !important;
  }

  .form-body .input {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
  }

  .form-body input,
  select {
    width: 100%;
    border: none;
    border-radius: 40px;
    background-color: var(--input-bg);
    height: 44px;
    margin-top: 10px;
    padding-left: 20px;
  }

  .form-body textarea {
    width: 94% !important;
    border: none;
    border-radius: 18px;
    background-color: var(--input-bg);
    height: 68px;
    margin-top: 10px;
    padding-left: 20px;
    padding-top: 10px;
    resize: vertical;
  }

  .form-body .bottom {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
  }

  .form-body .bottom-left {
    width: 100% !important;
  }

  .form-body .bottom-right {
    width: 100% !important;
  }

  .form-body button {
    width: 250px;
    height: 44px;
    border-radius: 40px;
    background-color: var(--lightblue);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--light);
    border: none;
    margin: 48px auto 48px auto;
    position: relative;
  }

  .form-body span {
    color: #e74c3c;
  }

  .pop-up-head {
    margin-top: 40px;
    width: 85%;
  }

  .pop-up-head h4 {
    font-size: 20px;
  }

  .pop-up-head h3 {
    font-size: 20px;
  }

  .pop-up-head p {
    font-size: 10px;
    margin-top: 10px;
  }

  .pop-up-body {
    width: 80%;
    margin-top: 43px;
    display: flex;
    justify-content: center;
  }

  .pop-up form {
    gap: 25px;
  }

  .pop-up .input {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .pop-up input {
    width: 305px;
  }

  .pop-up button {
    width: 305px;
    height: 44px;
    margin: 25px auto 0 auto;
  }

  .pop-up-ornament {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
  }

  .pop-up-image {
    top: -70px;
    left: 30%;
    width: 10rem;
  }

  .pop-up .ornament1 {
    width: 5rem;
  }

  .pop-up .ornament2 {
    width: 2.5rem;
  }

  .pop-up .ornament3 {
    display: none;
  }

  .pop-up .ornament4 {
    width: 10rem;
  }

  .pop-up-success {
    width: 390px;
    height: 480px;
    top: 170px;
    left: 4%;
  }

  .success-content {
    width: 90%;
    margin-top: 90px;
  }

  .success-content h3 {
    font-size: 24px;
  }

  .success-content h4 {
    font-size: 14px;
    margin-top: 20px;
  }

  .success-info {
    text-align: left;
  }

  .success-content p {
    font-size: 10px;
    margin-top: 20px;
  }

  .success-content a {
    font-size: 14px;
  }

  .success-ornament .ornament {
    height: 120px;
  }

  .success-image {
    top: -110px;
    left: 25%;
    width: 13rem;
  }

  .hero-img {
    flex-direction: column;
  }

  .hero-img img {
    width: 100%;
  }

  .hero-desc {
    position: absolute;
    width: 95%;
    bottom: 0;
    margin-bottom: -1rem;
    z-index: 3;
    text-align: left;
  }

  .hero-desc h1 {
    font-size: 1.5rem;
  }

  .hero-shade {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0.46%, rgba(255, 255, 255, 0.56) 21.37%, #fff 42.73%);
    height: 24rem;
    bottom: 0;
    margin-bottom: -1rem;
    z-index: 1;
  }

  .hero-vector {
    height: 50%;
    bottom: 0;
    z-index: 2;
  }

  .solusi-water-list img {
    width: 6rem;
    height: 12rem;
  }

  .solusi-card {
    width: 100%;
  }

  .solusiudara-img-list img {
    width: 11rem;
    height: 15rem;
  }

  .navbar {
    padding: 0 5%;
  }

  .navbar img {
    width: 5rem;
  }

  .navbar-content {
    display: none;
  }

  .layer-content {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .combo-content {
    flex-wrap: wrap;
  }

  .reparation-head {
    text-align: left;
  }

  .reparation-head p {
    font-size: 0.75rem;
  }

  .reparation-head h3 {
    font-size: 1.125rem;
  }

  .service-content {
    flex-direction: column;
    gap: 3rem;
  }

  .faq-content {
    gap: 4rem;
  }

  .service-content .down {
    margin-left: 5.5rem;
    margin-top: 0rem;
  }

  .service-card {
    width: 15rem;
  }

  .service-card img {
    width: 15rem;
  }

  .service-path .path1 {
    position: relative;
    left: 15rem;
    top: 12rem;
    transform: rotate(30deg);
  }

  .service-path .path2 {
    position: relative;
    left: -5rem;
    top: 30rem;
    transform: rotate(150deg);
  }

  .service-path .path3 {
    position: relative;
    left: 4rem;
    top: 46.5rem;
    transform: rotate(30deg);
  }

  .faq-card {
    width: 18rem;
    padding: 5rem 2rem 2rem 2rem;
  }

  .faq-head {
    width: 75%;
  }

  .faq-head h3 {
    font-size: 1.5rem;
  }

  .faq-card h3 {
    font-size: 1rem;
  }

  .faq-card p {
    font-size: 0.875rem;
  }

  .faq-icon1,
  .faq-icon2,
  .faq-icon3 {
    top: -2rem;
    left: 35%;
  }

  .footer-image {
    display: flex;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 44.875rem;
    object-fit: contain;
  }

  footer img {
    width: 50%; /* Change width value to 100% */
    margin: 0;
    object-fit: cover;
    object-position: 40%;
  }

  .footer-content {
    margin-top: 2.5rem;
    width: 85%;
  }

  .footer-content h3 {
    font-size: 1.5rem;
  }

  .footer-content p {
    margin-top: 1rem;
    font-size: 0.9rem;
  }

  .footer-content button {
    margin-top: 3rem;
    font-size: 1.125rem;
    width: 100%;
    height: 2.5rem;
  }

  .company {
    padding-top: 17rem;
  }

  .reparation-content {
    flex-direction: column;
  }

  .reparation-left img {
    width: 100%;
  }

  .reparation-right p {
    font-size: 0.9rem;
  }

  .benefit {
    align-items: center;
    margin-top: 1rem;
  }

  .benefit p {
    font-size: 1rem;
  }

  .benefit img {
    width: 1.8rem;
    height: 1.8rem;
  }
}
