* {
  margin: 0;
  padding: 0;
  font-family: var(--poppins);
}

a {
  text-decoration: none;
  color: unset;
}

:root {
  --m-alertnates: "Montserrat Alternates", "poppins";
  --monserate: "Montserrat", "poppins";
  --poppins: "Poppins", sans-serif;
  --reguler: 400;
  --medium: 500;
  --light: 300;
  --semibold: 600;
  --bold: 700;

  --light-font: #686b6f;
  --input-bg: #f2f5f7;
  --blue: #003366;
  --bluedark: #002244;
  --lightblue: #2a5580;
}

img {
  user-select: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease;
}

.bg-pop-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(80px);
  position: fixed;
  z-index: 99;
}

.pop-up {
  position: absolute;
  width: 690px;
  height: 745px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  top: 130px;
  animation-name: fadeIn;
  animation-duration: 2s;
}

.pop-up-head {
  margin-top: 90px;
  text-align: center;
}

.pop-up-head h5 {
  font-family: var(--m-alertnates);
  font-size: 32px;
  font-weight: var(--light);
  color: var(--light-font);
}

.pop-up-head h3 {
  font-family: var(--m-alertnates);
  font-weight: var(--bold);
  font-size: 32px;
  color: var(--blue);
}

.pop-up-head p {
  font-family: var(--monserate);
  font-weight: var(--reguler);
  font-size: 16px;
  color: var(--light-font);
}

.pop-up-body {
  width: 75%;
  margin-top: 43px;
}

.pop-up form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
}

.pop-up .input {
  display: flex;
  flex-direction: column;
}

.pop-up label {
  font-size: 14px;
  font-weight: var(--reguler);
  color: var(--light-font);
}

.pop-up input {
  width: 100%;
  border: none;
  border-radius: 40px;
  background-color: var(--input-bg);
  height: 44px;
  margin-top: 10px;
  padding-left: 20px;
}

.pop-up button {
  width: 250px;
  height: 44px;
  border-radius: 40px;
  background-color: var(--blue);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--light);
  border: none;
  margin: 48px auto 0 auto;
  position: relative;
}

.pop-up svg {
  width: 20px;
  margin-left: 10px;
}

.pop-up button:hover {
  cursor: pointer;
  background-color: #004890;
}

.pop-up button:active {
  transform: scale(0.9);
  transition: transform 0.3s;
}

.pop-up-ornament {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: yellow; */
}

.pop-up-image {
  position: absolute;
  top: -120px;
  left: 30%;
}

.pop-up .ornament1 {
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 17px;
}

.pop-up .ornament2 {
  position: absolute;
  top: 33%;
  left: 0;
  border-top-right-radius: 17px;
}

.pop-up .ornament3 {
  position: absolute;
  top: 120px;
  right: 20px;
  border-bottom-left-radius: 17px;
}

.pop-up .ornament4 {
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom-right-radius: 17px;
}

.pop-up-success {
  position: absolute;
  width: 730px;
  height: 625px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  top: 130px;
}

.success-content {
  position: relative;
  text-align: center;
  width: 80%;
  margin-top: 230px;
}

.success-content h3 {
  color: var(--bluedark);
  font-weight: var(--medium);
  font-size: 40px;
}

.success-content h5 {
  color: #57595c;
  font-weight: var(--reguler);
  font-size: 16px;
  margin-top: 20px;
}

.success-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.success-content p {
  color: var(--blue);
  font-weight: var(--light);
  font-size: 16px;
  margin-top: 20px;
}

.success-content a {
  text-decoration: none;
  background-color: var(--lightblue);
  color: white;
  font-weight: var(--light);
  padding: 15px 30px;
  border-radius: 40px;
}

.pop-up-success svg {
  width: 18px;
  color: var(--blue);
  margin-right: 10px;
  margin-top: 20px;
}

.success-ornament {
  position: absolute;
  width: 100%;
  height: 100%;
}

.success-image {
  position: absolute;
  top: -110px;
  left: 25%;
}

.pop-up-form {
  position: absolute;
  width: 1040px;
  height: 800px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  animation-name: fadeIn;
  animation-duration: 2s;
  overflow-y: auto; /* Add this line */
  overflow-x: hidden;
}

.form-ornament {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.pop-up-form .ornament2 {
  position: fixed;
  top: 210px;
  right: 350px;
  z-index: 999;
}

.form-ornament .head-bg {
  position: fixed;
  /* top: -10px; */
}

.form-head {
  text-align: center;
  width: 87%;
  margin-top: 550px;
  margin-bottom: 110px;
  z-index: 9999;
}

.form-head img {
  position: absolute;
  left: 100px;
}

.form-head h3 {
  font-family: var(--m-alertnates);
  font-weight: var(--reguler);
  font-size: 32px;
  color: #57595c;
}

.form-head span {
  font-family: var(--m-alertnates);
  font-weight: var(--bold);
  font-size: 32px;
  color: var(--blue);
}

.form-body {
  width: 87%;
  /* position: absolute; */
  z-index: 99;
}

.form-body input {
  display: flex;
}

.form-body label {
  font-size: 14px;
  font-weight: var(--reguler);
  color: var(--light-font);
}

.form-body .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-body .top-left {
  width: 45%;
}

.form-body .top-right {
  width: 45%;
}

.form-body .input {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

.form-body input,
select {
  width: 100%;
  border: none;
  border-radius: 40px;
  background-color: var(--input-bg);
  height: 44px;
  margin-top: 10px;
  padding-left: 20px;
}

.form-body textarea {
  width: 100%;
  border: none;
  border-radius: 18px;
  background-color: var(--input-bg);
  height: 68px;
  margin-top: 10px;
  padding-left: 20px;
  padding-top: 10px;
  resize: vertical;
}

.form-body .bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.form-body .bottom-left {
  width: 48%;
}

.form-body .bottom-right {
  width: 45%;
}

.form-body button {
  width: 250px;
  height: 44px;
  border-radius: 40px;
  background-color: var(--lightblue);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--light);
  border: none;
  margin: 48px auto 48px auto;
  position: relative;
}

.form-body span {
  color: #e74c3c;
}

.pop-up-form::-webkit-scrollbar {
  width: 8px;
  height: 50%;
  z-index: 9999; /* Tambahkan z-index di sini */
  display: none;
}

.pop-up-form::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 20px;
  height: 50%;
  display: none;
}

.pop-up-form::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  height: 50%; /* Set the height to 50% */
}

.pop-up-form::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* -------------- HERO SECTION -------------- */

.hero-container {
  width: 100%;
  position: relative;
  margin-bottom: 1rem;
}

.navbar {
  height: 5.5rem;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg, rgba(28, 28, 28, 0.88) 0%, rgba(32, 32, 32, 0.4) 65.97%, rgba(35, 35, 35, 0) 100%);
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
}

.navbar img {
  width: 6rem;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  list-style: none;
  margin-right: 3rem;
  color: #fff;
  font-size: 1rem;
}

.navbar ul li:last-child {
  margin-right: 0;
}

.hero-img {
  display: flex;
}

.hero-img img {
  width: 50%;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-shade,
.hero-vector {
  position: absolute;
  width: 100%;
}

.hero-shade {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0.46%, rgba(255, 255, 255, 0.56) 21.37%, #fff 42.73%);
  height: 23.5rem;
  bottom: 0;
  z-index: 1;
}

.hero-vector {
  bottom: 0;
  z-index: 2;
}

.hero-desc {
  position: absolute;
  width: 80%;
  bottom: 0;
  z-index: 3;
  text-align: center;
}

.hero-desc h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #343537;
}

.hero-desc p {
  font-size: 1.1rem;
  font-size: 18px;
  font-weight: 400;
}

/* -------------- FAKTA SECTION --------------  */

.fakta-container {
  width: 100%;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fakta-container h1 {
  padding-top: 6rem;
  padding-bottom: 8rem;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  color: #2a5580;
}

.fakta-cardslist {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 1.5rem;
  row-gap: 5rem;
}

.fakta-card {
  border-radius: 24px;
  width: 15rem;
  position: relative;
  border: 1px solid #ededed;
}

.fakta-img-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: -3rem;
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  background-color: #eeeeee;
  text-align: center;
}

.fakta-img-container img {
  width: 68%;
  margin: 1rem 0;
}

.fakta-card-desc {
  padding: 1.5rem 1rem;
  padding-top: 4.5rem;
  text-align: center;
}

/* -------------- SOLUSI SECTION --------------  */
.solusi-container {
  width: 100%;
}

.solusi-top {
  background: url("assets/solusi/background.png");
  background-repeat: no-repeat;
  background-position: center;
}

.solusi-top h2 {
  text-align: center;
  padding: 6rem 0;
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}

.solusi-water-list {
  display: flex;
  align-items: end;
  justify-content: center;
}

.solusi-water-list img {
  width: 14rem;
  height: 28rem;
}

.solusi-bottom {
  padding: 0 10%;
}

.solusi-bottom h3 {
  color: #579;
  padding-top: 1rem;
  padding-bottom: 0.1rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3.84px;
  text-transform: uppercase;
}

.solusi-bottom h2 {
  color: #036;
  font-size: 1.5rem;
  font-weight: 500;
}

.solusi-bottom hr {
  margin: 1rem 0;
}

.solusi-cardlist {
  margin-top: 4rem;
  display: flex;
  column-gap: 1.5rem;
  row-gap: 4rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.solusi-card {
  width: 20rem;
}

.solusi-card-img-container {
  width: 4.5rem;
  height: 4.5rem;
  border: 1px solid #8fdee2;
  border-radius: 100%;
  text-align: center;
}

.solusi-card-img-container img {
  margin: 1rem;
  width: 50%;
}

.solusi-card h4 {
  color: #343537;
  font-size: 1.1rem;
  padding: 1rem 0;
  font-weight: 500;
}

.solusi-card p {
  color: #57595c;
  font-size: 14px;
  font-weight: 400;
}

/* -------------- PRODUK SECTION --------------  */
.produk-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 1.5rem;
  row-gap: 15rem;
  padding-top: 15rem;
}

.produk-card {
  position: relative;
  width: 17rem;
}

.produk-card-img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  margin-top: -10rem;
  width: 10rem;
  height: 20rem;
}

.produk-card-desc {
  padding: 1rem;
  padding-top: 10rem;
  text-align: center;
}

.produk-card-desc button {
  border-radius: 40px;
  margin-top: 3rem;
  padding: 0.2rem 0.8rem;
  border: 1px solid #ededed;
  background-color: #fff;
}

.produk-card-desc h1 {
  color: #343537;
  font-size: 1.7rem;
  font-weight: 600;
}

.produk-card-desc hr {
  border-color: #b4e9ec;
  margin: 1rem 0;
}

.produk-or {
  color: #686b6f;
  font-size: 0.8rem;
  padding: 1.5rem 0;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2.88px;
  text-transform: uppercase;
}

.produk-harga,
.produk-harga-2 {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 22px;
}

.produk-harga span,
.produk-harga-2 span {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 38px;
}

.produk-harga {
  color: #1a9da5;
}

.produk-harga-2 {
  color: #036;
}

.produk-card:first-child {
  border-radius: 24px 0px 0px 24px;
  background: linear-gradient(180deg, #ebf9fa 0%, rgba(235, 249, 250, 0) 100%);
}

.produk-card:nth-child(2) {
  background: linear-gradient(180deg, #d2f2f4 0%, rgba(210, 242, 244, 0) 100%);
}

.produk-card:nth-child(3) {
  background: linear-gradient(180deg, rgba(180, 233, 236, 0.8) 0%, rgba(180, 233, 236, 0) 100%);
}

.produk-card:last-child {
  border-radius: 0px 24px 24px 0px;
  background: linear-gradient(180deg, rgba(143, 222, 226, 0.72) 0%, rgba(143, 222, 226, 0) 100%);
}

.produk-spec {
  padding: 0 1rem;
}

.produk-spec-row {
  display: flex;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
  color: #818487;
}

.produk-spec-row img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.produk-spec-row p {
  width: 15ch;
  text-align: start;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 22px;
}

/* -------------- SERVICE SECTION --------------  */
.service-container {
  margin: 10rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-head {
  text-align: center;
  width: 55%;
  margin-bottom: 2rem;
}

.service-head h3 {
  font-size: 2rem;
  color: var(--blue);
  font-weight: var(--medium);
}

.service-head p {
  margin-top: 1.5rem;
  font-size: 1rem;
  color: #57595c;
  font-weight: var(--reguler);
}

.service-content {
  display: flex;
  gap: 2rem;
  margin-top: 6rem;
}

.service-card {
  border-radius: 16px;
  border: 1px solid #ededed;
  height: 18.75rem;
  width: 17.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-content .down {
  margin-top: 12.5rem;
}

.service-card .card-content {
  width: 70%;
  margin-top: 2rem;
  text-align: center;
}

.service-path {
  position: absolute;
  z-index: 999;
}

.service-path .path1 {
  position: relative;
  left: 19rem;
  top: 7.5rem;
}

.service-path .path2 {
  position: relative;
  left: 33rem;
  top: 20rem;
}

.service-path .path3 {
  position: relative;
  left: 47.5rem;
  top: 7.5rem;
}



/* -------------- FAQ SECTION --------------  */
.faq-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 12rem;
}

.faq-head {
  text-align: center;
}

.faq-head p {
  font-size: 0.75rem;
  color: #557799;
}

.faq-head h3 {
  font-size: 2.5rem;
  color: var(--blue);
  font-weight: var(--medium);
  margin-bottom: 4rem;
}

.faq-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.faq-card {
  border: 1px solid #ededed;
  border-radius: 16px;
  width: 60rem;
  padding: 2rem 3rem 3rem 7rem;
  position: relative;
}

.faq-card h3 {
  font-size: 1.5rem;
  font-weight: var(--semibold);
  color: #343537;
  margin-bottom: 2rem;
}

.faq-card p {
  font-size: 1rem;
  font-weight: var(--reguler);
  color: #686b6f;
}

.faq-content ul {
  margin-left: 20px;
  color: #686b6f;
}

.faq-icon1,
.faq-icon2,
.faq-icon3 {
  position: absolute;
  border: 1px solid #ededed;
  border-radius: 100px;
  width: 5.5rem;
  height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  left: -2.7rem;
}

.faq-icon1 {
  top: 9rem;
}

.faq-icon2 {
  top: 6rem;
}
.faq-icon3 {
  top: 5rem;
}

/* -------------- FOOTER SECTION --------------  */
footer {
  margin-top: 10rem;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 6rem;
}

.footer-image {
  display: flex;
  position: absolute;
  z-index: 0;
  width: 100%;
}

footer img {
  width: 50%;
  margin: 0;
}

.footer-content {
  position: absolute;
  margin-top: 8rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-content h3 {
  color: white;
  font-size: 2rem;
  font-weight: var(--medium);
}

.footer-content p {
  margin-top: 1rem;
  color: white;
  font-size: 1.125rem;
  font-weight: var(--reguler);
}

.footer-content button {
  margin-top: 4rem;
  background-color: white;
  color: var(--blue);
  font-size: 1.125rem;
  font-weight: var(--reguler);
  border: none;
  border-radius: 40px;
  width: 15.625rem;
  height: 2.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.company {
  color: white;
  font-size: 0.75rem;
  font-weight: var(--reguler);
  position: relative;
  top: 20rem;
}

.contact {
  background-color: var(--blue);
  border-radius: 100px;
  width: 4.5rem;
  height: 4.5rem;
  position: fixed;
  z-index: 99999;
  bottom: 3.125rem;
  right: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact h3 {
  font-size: 2rem;
}
